.contact {
  background-color: #ffffff;
  padding: 42px 0;
}
.contact__container {
}
.contact__body {
  @media (min-width: 767px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.contact__content {
  padding-bottom: 20px;
  @media (min-width: 767px) {
    padding-right: 20px;
  }
}
.contact__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.1px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.contact__text {
  line-height: 1.43;
  color: #737373;
}
.contact__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 58px;
  background: #ff7b47;
  border-radius: 5px;
  padding: 5px 40px;
  color: #ffffff;
  transition: background-color 0.3s ease 0s;
  &:hover {
    background-color: darken(#ff7b47, 20%);
  }
}
