.whoweare {
    padding: 80px 0 130px 0;
}
.whoweare__container {
}
.whoweare__header {
    margin-bottom: 100px;
}
.whoweare__body {
    display: flex;
}
.whoweare__video {
    flex: 0 0 57%;
}
.whoweare__content {
    flex: 1 1 auto;
}
.whoweare__title {
}
.whoweare__text {
}
.whoweare__items {
}
.whoweare__item {
}
.item-whoweare {
}
.item-whoweare__icon {
}
.item-whoweare__body {
}
.item-whoweare__title {
}
.item-whoweare__text {
}