.whoweare {
  background: #ffffff;
  padding: 80px 0 130px 0;
  @media (max-width: 950px) {
    padding: 50px 0px 50px 0px;
  }
  @media (max-width: 767px) {
    padding: 20px 0px 50px 0px;
  }
}
.whoweare__container {
}
.whoweare__header {
  margin-bottom: 100px;
  @media (max-width: 950px) {
    margin-bottom: 30px;
  }
}
.whoweare__body {
  display: flex;
  align-items: flex-start;
  @media (max-width: 950px) {
    flex-direction: column-reverse;
    align-items: stretch;
  }
}
.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  padding-bottom: 42.25%;
  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (max-width: 950px) {
    padding-bottom: 56.25%;
    &:not(:last-child) {
      margin-top: 50px;
    }
  }
  @media (max-width: 767px) {
    &:not(:last-child) {
      margin-top: 30px;
    }
  }
}
.whoweare__content {
  flex: 1 1 auto;
  padding: 20px 0px 0px 121px;
  @media (max-width: 1080px) {
    padding: 0px 0px 0px 50px;
  }
  @media (max-width: 950px) {
    padding: 0;
  }
}
.whoweare__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  letter-spacing: 0.02px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  @media (max-width: 950px) {
    font-size: 24px;
  }
}
.whoweare__text {
  color: #737373;
  line-height: 1.42;
  // letter-spacing: 0.2px;
}
.whoweare__top {
  &:not(:last-child) {
    margin-bottom: 50px;
  }
  @media (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
.whoweare__items {
}
.whoweare__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
.item-whoweare {
  display: flex;
}
.item-whoweare__icon {
  flex: 0 0 32px;
}
.item-whoweare__body {
  flex: 1 1 auto;
  padding-left: 20px;
}
.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
.item-whoweare__text {
  color: #737373;
  line-height: 1.42;
}
