// main-block

.main-block__button {
  border-radius: 37px;
  display: flex;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2px;
  font-weight: 700;
  line-height: 1.5;
  padding: 5px 36px;
  text-align: center;
  margin: 10px 0;
  transition: all 0.3s ease 0s;
  @media (max-width: 479px) {
    flex: 1 1 100%;
  }
}
@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}
.main-block__button_orange {
  background: #ff7b47;
  color: #ffffff;
  &:hover {
    background: #ffffff;
    color: #ff7b47;
  }
}
.main-block__button_border {
  color: #0d5c63;
  border: 1px solid #0d5c63;
  &:hover {
    background: #0d5c63;
    color: #ffffff;
  }
}
